.nav {
  border-bottom: 5px solid var(--bs-warning);
  gap: 0.5rem;

  .nav-link {
    background-color: var(--bs-gray-200);
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    padding: 1rem;

    &.active {
      background-color: var(--bs-warning);
    }
  }
}