#program-search-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;

  .card:hover .card-body,
  .card:focus-within .card-body {
    background-color: rgba(0, 0, 0, 0.05) !important;
  }

  .card {
    display: flex;
    text-align: center;
    justify-content: center;
    align-self: center;
    .card-footer {
      &::after {
        content: "\200B";
        visibility: hidden;
      }
    }

    .program-tags {
      margin-top: auto;
      border-top: 1px solid rgba(0,0, 0, 0.125);
      padding-top: 1rem;
      font-size: 13px;
    }
  }
}
